<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static "/js/draw.js" %}"></script>
</head>
<body>
<div class="p-2 mb-2 bg-dark text-white">
    <h4 class="text-center">Object Recognition with Manual Region Proposals</h4>
</div>
<div class="container">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row justify-content-around" style="margin-top:20px">
        <div class="text-white">
            <canvas id="canvas" class="img-thumbnail" width="600" height="600" style="border:2px solid #666666;"></canvas>
        </div>
        <div class="col-5 bg-dark text-white">
            <div class="text-center">
                <p class="font-weight-bold">Select a region on the image left.</p>
                <p class="font-weight-bold">Object in the selected region may be something like a ...</p>
                <p class="font-weight-bold" id="object_list">???</p>
            </div>
        </div>
    </div>

</div> <!-- Container ends -->
<img src="{% static "/media/cat-dog.png" %}" style="display: none;">
</body>
</html>