<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static "/js/draw.js" %}"></script>
</head>
<body>
<div class="p-2 mb-2 bg-dark text-white">
    <h3 class="text-center">Object Recognition with Manual Region Proposals</h3>
</div>
<div class="container">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row justify-content-around" style="margin-top:20px">
        <div class="text-white">
            <canvas class="img-thumbnail" width="600" height="600" style="border:2px solid #666666;"></canvas>
        </div>
        <div class="col-5 bg-dark text-white" style="height: 610px;">
            {% csrf_token %}
            <div class="d-flex flex-column bd-highlight mb-3 text-center" style="height: 600px;">
                <div class="p-2 bd-highlight" id="preds">
                    <h4 class="font-weight-bold" style="margin-top:50px;"><-- Please select a region on the image left.</h4>
                    <h5 style="margin-top:50px;">Object in the selected region is likely a ...</h5>
                    <p id="object_first">???</p>
                    <h5 style="margin-top:50px;">Other weak predictions could be;</h5>
                    <!-- Other weak predictions will be listed here -->
                    <p id="object_other_1">???</p>
                    <p id="object_other_2"></p>
                    <p id="object_other_3"></p>
                    <p id="object_other_4"></p>
                </div>
                <button class="mt-auto p-2 btn btn-lg btn-block btn-outline-light">Find out</button>
            </div>
        </div>
    </div>
</div> <!-- Container ends -->
<img src="{% static "/media/image.png" %}" style="display: none;">
</body>
</html>